<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="4.0"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
  
    <display-name>Archetype Created Web Application</display-name>
  
    <servlet>
        <servlet-name>StartServlet</servlet-name>
        <servlet-class>ru.mail.dimaushenko.controller.StartServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartServlet</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>ru.mail.dimaushenko.controller.CreateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/createUser</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
        <servlet-name>ViewAllUserServlet</servlet-name>
        <servlet-class>ru.mail.dimaushenko.controller.ViewAllUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewAllUserServlet</servlet-name>
        <url-pattern>/viewUsers</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RemoveUserServlet</servlet-name>
        <servlet-class>ru.mail.dimaushenko.controller.RemoveUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveUserServlet</servlet-name>
        <url-pattern>/removeUser</url-pattern>
    </servlet-mapping>
</web-app>
